$border-color: lightgray;
$border-radius: 4px;
$shadow-accent-value: 0.5;
$shadow-ambient-value: 0.35;

@mixin card-borders($color: $border-color, $width: 1px) {
    border-style: solid;
    border-radius: $border-radius;
    border-width: $width;
    border-color: $color;
}

@mixin card-shadow($accent-value: $shadow-accent-value, $ambient-value: $shadow-ambient-value) {
    box-shadow: 
        0px 1px 0px rgba(0, 0, 0, $accent-value),
        0px 0px 3px rgba(0, 0, 0, $ambient-value);
}

:host {
    padding: 8px;

    display: grid;

    grid-template-columns: 300px auto;//512px auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "header header"
        "list card"
        "input input";

    @include card-borders;

    background-color: #f7f7f7;

    @include card-shadow;
}

.todo-list-header {
    grid-area: header;
}

.column-item-view {
    margin-top: 8px;
    margin-left: 8px;
    min-width: 400px;

    grid-area: card;

    .todo-card {
        width: 100%;
        height: 100%;

        box-sizing: border-box;

        @include card-borders($border-color, 0);
        
        @include card-shadow;

        background-color: white;

        .todo-description {
            position: relative;

            width: 100%;
            top: 50%;

            transform: translateY(-50%);

            text-align: center;
        }
    }
}

.column-items-list {
    grid-area: list;
}

.todo-container {
    list-style-type: none;

    .todo-item {
        margin-top: 8px;
        padding: 8px;

        min-height: 24px;

        @include card-borders($border-color, 0);

        word-break: break-word;
        
        @include card-shadow;

        background-color: white;

        ::ng-deep {
            input {
                width: auto; //80%;
                border: none;

                display: inline-block;
                word-break: break-word;
                font-size: 100%;
                outline: none;
                background-color: white;
            }
        }

    }

    .todo-item:hover {
        background-color: #eff0ed;
    }

    .todo-item.selected {
        @include card-shadow($shadow-accent-value, 0.65);  //838383 7e7e7e 747474 707070 686868 

        background-color: #dbdcd9;
    }
}

.todo-item-input {
    margin-top: 16px;
    padding: 8px;

    width: auto;

    grid-area: input;

    @include card-borders($border-color, 0);
        
    @include card-shadow;

    background-color: white;

    overflow: hidden;

    mat-form-field {
        width: 100%;
    }

    * {
        input {
            width: 100%;

            border-style: none;
        }

        input:focus {
            outline: none;
        }

        textarea {
            width: 100%;
        }
    }
}

::ng-deep {
    app-button {
        margin-left: 8px;
        
        float: right;
    
        min-width: 15%;
        min-height: 24px;
    }
}
