<h1 class="todo-list-header">ToDo List</h1>
<div class="column-items-list" [hidden]="isLoading">
    <ul class="todo-container">
        <li *ngFor="let item of getItems()" 
            [tooltip]="item.description || item.text"
            [tooltipDelay]="3000"
            class="todo-item" 
            tabindex="0"
            [class.selected]="isItemSelected(item.id)"
            (click)="onClickItem(item.id)"
            (dblclick)="onDblClickItem(item.id)"
            (keydown.space)="onClickItem(item.id)"
            (keydown.control.space)="onDblClickItem(item.id)">
            <app-todo-list-item 
                [data]="item" 
                [mode]="isItemEditing(item.id) ? 'edit' : 'view'"
                (edited)="onEditItem($event)"
                (deleted)="onDeleteItem($event)"
                (canceled)="onCancelEditItem($event)"/>
        </li>
    </ul>
    <div class="todo-item-input">
        <mat-form-field>
            <input 
                matInput
                type="text" 
                placeholder="Add your new todo" 
                [(ngModel)]="newItemText"
                (keydown.enter)="onAddItem()"/>
        </mat-form-field>
        <mat-form-field>
            <textarea
                matInput
                rows="3"
                placeholder="Description"
                [(ngModel)]="newItemDescription"
                (keydown.control.enter)="onAddItem()"></textarea>
        </mat-form-field>
        <app-button 
            tooltip="Add new todo item"
            type="add" 
            [title]="'Add'" 
            [disabled]="!isNewItemDataValid()" 
            (clicked)="onAddItem()"/>
    </div>
</div>
<div class="column-item-view" [hidden]="!isItemCardShowing()">
    <div class="todo-card">
        <p class="todo-description">{{ getSelectedItemDescription() }}</p>
    </div>
</div>
<app-loading-spinner class="loading-spinner" [hidden]="!isLoading"/>