<h1 class="todo-list-header">ToDo List</h1>
<div class="filters-container" [hidden]="!isItemCardShowing()">
    <ng-container *ngFor="let filter of getFilters()">
        <div [class]="filter.type">
            <span>{{ filter.name }}:</span>
            <ul>
                <li *ngFor="let value of filter.values">
                    <app-button 
                        class="filter-item"
                        styleType="transparent"
                        [checked]="filter.selectedValues.includes(value)"
                        (clicked)="onFilterItemClick(filter, value)">
                        {{ value }}
                    </app-button> 
                </li>
            </ul>
        </div>
    </ng-container>
</div>
<ul class="todo-container" [hidden]="!isItemCardShowing()">
    <li *ngFor="let item of getFilteredItems()" 
        [tooltip]="item.description || item.text"
        [tooltipDelay]="3000"
        class="todo-item" 
        tabindex="0"
        [class.selected]="item.id === (selectedItemId | async)"
        (dblclick)="onDblClickItem(item.id)"
        (keydown.control.space)="onDblClickItem(item.id)"
        (keydown.esc)="onCancelEditItem(item.id)"
        [routerLink]="[item.id]">
        <app-todo-list-item 
            [data]="item" 
            [mode]="isItemEditing(item.id) ? 'edit' : 'view'"
            (edited)="onEditItem($event)"
            (deleted)="onDeleteItem($event)"
            (canceled)="onCancelEditItem($event)">
        </app-todo-list-item>
    </li>
</ul>
<app-todo-create-item
    class="todo-item-input"
    [class.centered]="!isItemCardShowing()"/>
<div 
    class="todo-card-container"
    [hidden]="!isItemCardShowing()">
    <router-outlet></router-outlet> 
</div>
<app-loading-spinner *ngIf="isLoading"/>