@import '../../styles/theme.scss';

:host {
    padding: $standard-gap;

    max-height: 100%;
    display: grid;

    grid-template-columns: 45% 55%;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas: 
        "header header"
        "filter filter"
        "list card"
        "input input";

    @include card-borders;

    @include form-content-background;  

    @include card-shadow;
}

.todo-list-header {
    margin-top: -$standard-gap;
    margin-left: -$standard-gap;
    margin-right: -$standard-gap;
    padding: $standard-gap;

    grid-area: header;


    @include card-borders($border-color, 0);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
    background-color: $card-color;
    @include card-shadow;
}

    .todo-card {
        margin-top: $standard-gap;
        margin-left: $standard-gap;
        padding: $standard-gap;
    
        position: relative;

        grid-area: card;

        box-sizing: border-box;

        @include card-borders($border-color, 0);
        
        @include card-shadow;

        background-color: $card-color;

        .todo-card-text {
            width: 100%;

            text-align: center;
        }

        .todo-card-description {
            position: relative;

            width: 100%;
            top: 50%;

            transform: translateY(-50%);

            text-align: center;
        }

        .todo-card-status {
            position: absolute;
            bottom: 0;
            right: $standard-gap;
        }
    }

.todo-container {
    margin-left: -$standard-gap;
    margin-right: -$standard-gap;
    padding-top: $standard-gap;
    padding-left: $standard-gap;
    padding-right: $standard-gap;
    list-style-type: none;

    grid-area: list;

    overflow: auto;
    scrollbar-width: thin;

    .todo-item {
        margin-bottom: $standard-gap;
        padding: $standard-gap;

        min-height: 3 * $standard-gap;

        @include card-borders($width: 0);
        
        @include card-shadow;

        word-break: break-word;

        overflow: hidden;

        background-color: $list-item-color;

        ::ng-deep {

            input {
                width: auto; 
                border: none;

                display: inline-block;
                word-break: break-word;
                font-size: 100%;
                outline: none;
                background-color: $card-color;
            }
        }

    }

    .todo-item:hover {
        background-color: $list-item-color-hover;
    }

    .todo-item.selected {
        @include list-item-selected-outline;

        background-color: $list-item-color-selected;
    }
}

.todo-item-input { 
    align-self: end;

    grid-area: input;

    top: 80%;
}

.todo-item-input.centered {
    width: 512px;

    grid-area: list / 1 / input / span 2;

    transition-property: top;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


::ng-deep {
    app-button {
        margin-left: $standard-gap;
        
        float: right;
    
        min-width: 13%;
        min-height: 3 * $standard-gap;
    }
}

.filters-container {
    margin-top: $standard-gap;
    padding: $standard-gap;

    grid-area: filter;

    @include card-borders;

    background-color: rgba(0, 0, 120, 0.2);

    .buttons-list {
        app-button.filter-item {
           margin-left: $standard-gap; 
           display: inline-block;
           float: none;
        }

        ul {
            list-style-type: none;
            display: inline-block;
        }

        li {
            display: inline-block;
        }
    }
}