<ng-container *ngIf="mode !== 'edit'; else editTemplate">
    <mat-checkbox
        class="todo-card-status"
        [checked]="data.status === 'Completed'"
        (change)="onChangeStatusClick($event)">
    </mat-checkbox>
    <span>{{ data.text }}</span>
    <app-button 
        styleType="delete" 
        [tooltip]="'delete this item'"
        (clicked)="onDeleteClick()">
        Delete
    </app-button>
</ng-container>

<ng-template #editTemplate>
    <mat-checkbox
        class="todo-card-status"
        [checked]="data.status === 'Completed'"
        (change)="onChangeStatusClick($event)">
    </mat-checkbox>
    <input 
        type="text" 
        [(ngModel)]="editText"
        (keydown.enter)="onSaveClick()"
        (keydown.esc)="onCancelClick()"/> 
    <app-button 
        styleType="edit" 
        [tooltip]="'save changes'"
        (clicked)="onSaveClick()">    
        Save
    </app-button>
</ng-template>
