app-todo-list {
    min-width: 512px;
    max-height: 95vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

app-toasts {
    width: 300px;
    position: fixed;
    bottom: 0;
    right: 0;
}